<ion-content [fullscreen]="true">

  
  

  <ion-grid class="main-header">

    <ion-header class="ion-no-border">
      <ion-toolbar>
        
        <ion-buttons slot="start">      
          <ion-menu-button fill="clear" color="dark">
            <ion-icon name="options-outline" color="danger"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    

    <div align="center">
      <ion-avatar>
        <img src="assets/images/2.jpg" />
      </ion-avatar>
    </div>
  </ion-grid>


  <!-- <ion-list lines="full">
    <ion-item>
      <ion-icon name="person-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Name</ion-text>
        <p><ion-text color="dark">Yuri Garcia</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Phone</ion-text>
        <p><ion-text color="dark">9999900000</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Email</ion-text>
        <p><ion-text color="dark">yuri@gmail.com</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Age</ion-text>
        <p><ion-text color="dark">21 y/o</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-circle-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Bio</ion-text>
        <p><ion-text color="dark">Greatest Chef</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-icon name="document-text-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Profile Description</ion-text>
        <p><ion-text color="dark" class="ion-text-wrap">Like to Cook for my family and specially for my girlfriend - Experienced Cook.</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="eye-outline" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Password</ion-text>
        <p><ion-text color="dark">**********</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
<div align="center">
  <ion-button class="edit-button" fill="outline" class="button ion-margin" >Edit Profile</ion-button>
</div> -->


<div class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let value of values" button (click)="openModal(value)" detail>
      <ion-icon [name]="value.icon + '-outline'" class="ion-padding"></ion-icon>
      <ion-label>
        <ion-text>Change {{value.label}}</ion-text>
        <p><ion-text color="dark" class="ion-text-wrap">{{value.NumVal | number}} {{value.TextVal}}</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>
