<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="solid" shape="round" color="light" routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Food Title</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="share-outline" color="danger"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light">
        <ion-icon slot="icon-only" name="search-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollEvents="true" [appParallax]="img">
  <div #img class="header-image" [style.background-image]="'url(assets/images/food/f2.jpeg)'">
  </div>


  <div >
    <ion-row>
      <ion-col size="12" class="light-bg ion-padding-start">
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary">
          5.0 Excellent </ion-text>
        <ion-text color="medium"> (501+) <!-- no. ratings -->
          <span > · Italian · Pizza </span> <!-- *ngFor="let tag of data.tags | slice:0:2" -->
        </ion-text>
        
        <!-- Badge -->
        <ion-item>
          <ion-badge>
            <ion-icon name="time"></ion-icon>
            10 mins
          </ion-badge>

          <ion-badge >
            <ion-icon name="flame"></ion-icon>
            600 Calories
          </ion-badge>

          <ion-badge>
            <ion-icon md="restaurant"></ion-icon>
            2 Serving/s
          </ion-badge>
        </ion-item>

      </ion-col>
     
      <ion-col class="light-bg" size="8">
        <ion-item lines="none" >
          <ion-avatar slot="start" routerLink="/view-other-profile">
            <img src="assets/images/avatar.png">
          </ion-avatar>
          <ion-label>By Yuri_Garcia79</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="4" class="light-bg">
        <ion-button  fill="solid" color="light" shape="round">
          <ion-icon name="heart-outline" size="large" slot="icon-only" color="danger">
          </ion-icon>
        </ion-button>
        
        <ion-label style="padding-left: 10px;">Like Recipe</ion-label>
      </ion-col>
     

      <ion-col size="12" class="light-bg">
        <h4>Description</h4>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">  
        <ion-item lines="full">   
          <ion-label class="ion-text-wrap">
            The home of handmade fresh pasta, thin crust pizza,
            protein packed salads, homemade sauces and dressings too. Choose your pasta shape and add
            any extra you like.
          </ion-label>
        </ion-item>
       

      </ion-col>

      

      <ion-col class="light-bg">
        <h4>Procedures</h4>
        <ion-list lines="none" class="light-bg">
          <ion-item>
            <ion-label class="ion-text-wrap">1 <ion-text class="ion-padding">Kumuha ng kutsara tinidor.</ion-text></ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">2<ion-text class="ion-padding">mag batik ng tatlong pirasong itlog.</ion-text></ion-label>
            
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">3<ion-text class="ion-padding">luto mo sa kalan</ion-text></ion-label>
            
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap">4<ion-text class="ion-padding">Taposna</ion-text></ion-label>
          </ion-item>
        </ion-list>
   
      </ion-col>

      

      <ion-col size="12" class="light-bg" routerLink="/ingredient-list">
        <ion-row class="ion-align-items-center">
          <ion-col size="1">
            <ion-icon color="medium" name="cart-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-label>List of Ingridients
              <p>Checklist for you to prepare</p>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon color="primary" name="chevron-forward" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div  class="ion-padding">
   
      <h4>Your ratings:</h4>
<!--     
      <ion-icon name="star-outline" size="large" class="ion-margin" [class.rate]="isRated" (click)="changeRating()"></ion-icon>
      <ion-icon name="star-outline" size="large" class="ion-margin" [class.rate]="isRated" (click)="changeRating()"></ion-icon>
      <ion-icon name="star-outline" size="large" class="ion-margin" [class.rate]="isRated" (click)="changeRating()"></ion-icon>
      <ion-icon name="star-outline" size="large" class="ion-margin" [class.rate]="isRated" (click)="changeRating()"></ion-icon>
      <ion-icon name="star-outline" size="large" class="ion-margin" [class.rate]="isRated" (click)="changeRating()"></ion-icon>
      -->
    


    
    <ion-card>
      <ion-card-header>
        <div style="font-size: x-large; color: orange;" align="center" >
          <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" (hover)="hoverValue=$event" class="ion-padding"></ngb-rating>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea placeholder="Type your comment here..."></ion-textarea>
        <ion-button fill="outline" expand="block" class="ion-padding ion-margin-bottom" color="dark">Comment</ion-button>
      </ion-card-content>
    </ion-card>


    <h4>Pag may laman:</h4>
    <ion-card>
      <ion-card-header>
        <div style="font-size: x-large; color: orange;" align="center" >
          <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" class="ion-padding"></ngb-rating>
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-label>This is a sample comment. Kunwari may comment dito pero wala, ganito ang itsura kapag may nag comment
          na user, edit ang label sa button then ion label na ang tag na papasahan ng data hehe.
        </ion-label>
        <!-- <ion-textarea placeholder="Type your comment here..."></ion-textarea> -->
        <ion-button fill="outline" expand="block" class="ion-padding ion-margin-bottom" color="dark">Edit</ion-button>
      </ion-card-content>
      
    </ion-card>

  </div>


  <ion-list >
    <ion-list-header>
      <ion-label><h4>Comment Section</h4></ion-label>
    </ion-list-header>
    <ion-row class="ion-padding meal-row">
      <ion-col  class="border-bottom">
        <ion-item lines="none" >
          <ion-buttons slot="end">
          <ion-button (click)="presentPopover($event)">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
         </ion-buttons>
          <ion-avatar slot="start" routerLink="/view-other-profile">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>By Yuri_Garcia79</ion-label>
        </ion-item>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary">
          5.0 Excellent </ion-text>
        <ion-label>
          <p>INformation forums comment section label
            kunwari meron laman sglhasgkjbaf;skgjhaf;k gjhaf;gkhafsglkh afglkhafglkhaglhaglnagknl</p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding meal-row">
      <ion-col  class="border-bottom">
        <ion-item lines="none" >
          <ion-avatar slot="start" routerLink="/view-other-profile">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>By Yuri_Garcia79</ion-label>
        </ion-item>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary">
          5.0 Excellent </ion-text>
        <ion-label>
          <p>INformation forums comment section label
            kunwari meron laman sglhasgkjbaf;skgjhaf;k gjhaf;gkhafsglkh afglkhafglkhaglhaglnagknl</p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding meal-row">
      <ion-col  class="border-bottom">
        <ion-item lines="none" >
          <ion-avatar slot="start" routerLink="/view-other-profile">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>By Yuri_Garcia79</ion-label>
        </ion-item>
        <ion-icon name="star" color="secondary"></ion-icon>
        <ion-text color="secondary">
          5.0 Excellent </ion-text>
        <ion-label>
          <p>INformation forums comment section label
            kunwari meron laman sglhasgkjbaf;skgjhaf;k gjhaf;gkhafsglkh afglkhafglkhaglhaglnagknl</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-list>


</ion-content>